In [1]:
import pandas as pd
import numpy as np

In [8]:
df_a = pd.read_csv("web/data/brand_values.csv")
df_a

        name     value    year  lastValue  rank
0      Apple  214480.0  2018.0   211447.4     1
1      Apple  211447.4  2017.9   208414.8     1
2      Apple  208414.8  2017.8   205382.2     1
3      Apple  205382.2  2017.7   202349.6     1
4      Apple  202349.6  2017.6   199317.0     1
...      ...       ...     ...        ...   ...
18095   Zara       NaN  2004.5        NaN   100
18096   Zara       NaN  2004.6        NaN   100
18097   Zara       NaN  2004.7        NaN   100
18098   Zara       NaN  2004.8        NaN   100
18099   Zara       NaN  2004.9        NaN   100

[18100 rows x 5 columns]

In [67]:
df_b = pd.read_csv("web/data/covid-data.csv")
df_b["date"] = pd.to_datetime(df_b["date"])
df_b = df_b[["date", "location", "total_cases", "new_cases"]]
df_b["lastValue"] = df_b["total_cases"] - df_b["new_cases"]
df_b = df_b.rename(columns={"total_cases" : "value", "location" : "name"})
df_b = df_b.fillna(0)
df_b = df_b.sort_values(["date", "value"], ascending=[True, False])
df_b["date"] = df_b["date"].apply(lambda x: round(x.isocalendar()[0] + x.isocalendar()[1]/52, 1))
df_b = df_b.groupby(["date", "name"]).mean().reset_index()
df_b = df_b.rename(columns={"date":"year"})
cont = ["Europe", "Asia", "North America", "Africa", "Oceania", "World", "South America", "European Union", "International"]
df_b = df_b[~df_b["name"].isin(cont)]
df_b["rank"] = df_b.groupby("year").rank(method="max", ascending=False)["value"].astype(int)
df_b = df_b.replace(0, np.nan)
df_b = df_b.iloc[5:,:]
df_b = df_b.sort_values(["name", "year"], ascending=[True, False])
df_b["lastValue"] = 0
df_tot = pd.DataFrame()
for pays in df_b["name"].unique():
    df_temp = df_b[df_b["name"]==pays].copy()
    df_temp["lastValue"] = df_temp["value"].shift(periods=-1).fillna(0)
    df_tot = pd.concat([df_tot,df_temp])
df_tot = df_tot.sort_values(["name", "year"], ascending=[True, False])
# df_tot.loc[df_tot["year"] == 2020.1, 'lastValue'] = df_tot.loc[df_tot["year"] == 2020.1, 'value']
for i,name in enumerate(df_tot.loc[df_tot["year"] == 2020.1].sort_values("value", ascending= False)['name'].unique()):
    df_tot = df_tot.append({'year':2020.0,'name':name,'value':0,'new_cases':0, 'lastValue':0, 'rank':i+1}, ignore_index=True)
df_tot

        year          name         value   new_cases     lastValue  rank
0     2021.4   Afghanistan  65637.045455  454.363636  58709.571429   105
1     2021.3   Afghanistan  58709.571429  147.600000  56027.428571   105
2     2021.2   Afghanistan  56027.428571   25.523810  55086.742857   103
3     2021.1   Afghanistan  55086.742857   46.285714  51056.761905    97
4     2021.0   Afghanistan  51056.761905  159.000000  44225.600000    90
...      ...           ...           ...         ...           ...   ...
2607  2020.0       Morocco      0.000000    0.000000      0.000000    37
2608  2020.0          Peru      0.000000    0.000000      0.000000    38
2609  2020.0      Portugal      0.000000    0.000000      0.000000    39
2610  2020.0      Slovenia      0.000000    0.000000      0.000000    40
2611  2020.0  South Africa      0.000000    0.000000      0.000000    41

[2612 rows x 6 columns]

In [68]:
df_tot.to_csv("web/data/covid_2.csv")

In [34]:
df_tot[df_tot["name"]=="Italy"]

        year   name         value     new_cases     lastValue  rank
2577  2021.4  Italy  4.175916e+06   4845.954545  3.911293e+06     8
2352  2021.3  Italy  3.911293e+06  12655.600000  3.233513e+06     8
2130  2021.2  Italy  3.233513e+06  20452.809524  2.598246e+06     7
1912  2021.1  Italy  2.598246e+06  12227.685714  2.060867e+06     8
1701  2021.0  Italy  2.060867e+06  15533.309524  1.276291e+06     7
1499  2020.9  Italy  1.276291e+06  29129.800000  4.062205e+05     9
1302  2020.8  Italy  4.062205e+05   9789.976190  2.740320e+05    15
1107  2020.7  Italy  2.740320e+05   1264.028571  2.475757e+05    19
912   2020.6  Italy  2.475757e+05    310.114286  2.394026e+05    15
717   2020.5  Italy  2.394026e+05    230.371429  2.264652e+05     9
522   2020.4  Italy  2.264652e+05    693.742857  1.646722e+05     6
328   2020.3  Italy  1.646722e+05   3229.371429  2.395631e+04     3
139   2020.2  Italy  2.395631e+04   2325.857143  2.588235e+00     2
26    2020.1  Italy  2.588235e+00      0.176471  0.000000e+00    19

In [63]:
df_tot.loc[df_tot["year"] == 2020.1]

        year                  name         value    new_cases  lastValue  rank
124   2020.1             Australia     12.000000     0.681818        0.0     9
229   2020.1               Belgium      1.000000     0.076923        0.0    29
391   2020.1              Cambodia      1.000000     0.047619        0.0    29
418   2020.1                Canada      4.909091     0.318182        0.0    17
489   2020.1                 China  25953.884615  2688.769231        0.0     1
597   2020.1                Cyprus           NaN          NaN        0.0    43
637   2020.1               Denmark           NaN          NaN        0.0    43
703   2020.1                 Egypt      1.000000     0.333333        0.0    29
756   2020.1               Estonia           NaN          NaN        0.0    43
803   2020.1                  Fiji           NaN          NaN        0.0    43
817   2020.1               Finland      1.000000     0.052632        0.0    29
831   2020.1                France      7.208333     0.500000        0.0    15
888   2020.1               Germany     11.142857     0.761905        0.0    11
1032  2020.1             Hong Kong     24.360000     2.280000        0.0     4
1072  2020.1                 India      2.611111     0.166667        0.0    18
1099  2020.1         International    166.400000    35.500000        0.0     2
1139  2020.1               Ireland           NaN          NaN        0.0    43
1170  2020.1                 Italy      2.588235     0.176471        0.0    19
1197  2020.1                 Japan     20.230769     2.230769        0.0     5
1306  2020.1                Latvia           NaN          NaN        0.0    43
1439  2020.1              Malaysia     12.000000     0.956522        0.0     9
1479  2020.1                 Malta           NaN          NaN        0.0    43
1526  2020.1                Mexico           NaN          NaN        0.0    43
1600  2020.1               Morocco           NaN          NaN        0.0    43
1655  2020.1                 Nepal      1.000000     0.043478        0.0    29
1847  2020.1                  Peru           NaN          NaN        0.0    43
1861  2020.1           Philippines      2.388889     0.166667        0.0    20
1889  2020.1              Portugal           NaN          NaN        0.0    43
1929  2020.1                Russia      2.000000     0.117647        0.0    21
2093  2020.1             Singapore     28.080000     3.000000        0.0     3
2122  2020.1              Slovenia           NaN          NaN        0.0    43
2156  2020.1          South Africa           NaN          NaN        0.0    43
2170  2020.1           South Korea     15.000000     1.037037        0.0     7
2196  2020.1                 Spain      1.500000     0.125000        0.0    22
2210  2020.1             Sri Lanka      1.000000     0.047619        0.0    29
2250  2020.1                Sweden      1.000000     0.062500        0.0    29
2290  2020.1                Taiwan      9.343750     0.593750        0.0    12
2329  2020.1              Thailand     15.685714     0.857143        0.0     6
2443  2020.1  United Arab Emirates      6.157895     0.473684        0.0    16
2457  2020.1        United Kingdom     11.294118     1.058824        0.0    10
2471  2020.1         United States      8.923077     0.500000        0.0    13
2543  2020.1               Vietnam      8.320000     0.640000        0.0    14

In [61]:
for i,name in enumerate(df_tot.loc[df_tot["year"] == 2020.1].sort_values("value", ascending= False)['name'].unique()):
    df_tot = df_tot.append({'year':2020.0,'name':name,'value':0,'new_cases':0, 'lastValue':0, 'rank':i+1}, ignore_index=True)

In [62]:
df_tot

        year          name         value   new_cases     lastValue  rank
0     2021.4   Afghanistan  65637.045455  454.363636  58709.571429   105
1     2021.3   Afghanistan  58709.571429  147.600000  56027.428571   105
2     2021.2   Afghanistan  56027.428571   25.523810  55086.742857   103
3     2021.1   Afghanistan  55086.742857   46.285714  51056.761905    97
4     2021.0   Afghanistan  51056.761905  159.000000  44225.600000    90
...      ...           ...           ...         ...           ...   ...
2622  2020.0       Morocco      0.000000    0.000000      0.000000    38
2623  2020.0          Peru      0.000000    0.000000      0.000000    39
2624  2020.0      Portugal      0.000000    0.000000      0.000000    40
2625  2020.0      Slovenia      0.000000    0.000000      0.000000    41
2626  2020.0  South Africa      0.000000    0.000000      0.000000    42

[2627 rows x 6 columns]

In [64]:
df_tot.loc[df_tot["year"] == 2020.0]

        year                  name  value  new_cases  lastValue  rank
2585  2020.0                 China    0.0        0.0        0.0     1
2586  2020.0         International    0.0        0.0        0.0     2
2587  2020.0             Singapore    0.0        0.0        0.0     3
2588  2020.0             Hong Kong    0.0        0.0        0.0     4
2589  2020.0                 Japan    0.0        0.0        0.0     5
2590  2020.0              Thailand    0.0        0.0        0.0     6
2591  2020.0           South Korea    0.0        0.0        0.0     7
2592  2020.0             Australia    0.0        0.0        0.0     8
2593  2020.0              Malaysia    0.0        0.0        0.0     9
2594  2020.0        United Kingdom    0.0        0.0        0.0    10
2595  2020.0               Germany    0.0        0.0        0.0    11
2596  2020.0                Taiwan    0.0        0.0        0.0    12
2597  2020.0         United States    0.0        0.0        0.0    13
2598  2020.0               Vietnam    0.0        0.0        0.0    14
2599  2020.0                France    0.0        0.0        0.0    15
2600  2020.0  United Arab Emirates    0.0        0.0        0.0    16
2601  2020.0                Canada    0.0        0.0        0.0    17
2602  2020.0                 India    0.0        0.0        0.0    18
2603  2020.0                 Italy    0.0        0.0        0.0    19
2604  2020.0           Philippines    0.0        0.0        0.0    20
2605  2020.0                Russia    0.0        0.0        0.0    21
2606  2020.0                 Spain    0.0        0.0        0.0    22
2607  2020.0               Belgium    0.0        0.0        0.0    23
2608  2020.0                 Nepal    0.0        0.0        0.0    24
2609  2020.0                 Egypt    0.0        0.0        0.0    25
2610  2020.0             Sri Lanka    0.0        0.0        0.0    26
2611  2020.0                Sweden    0.0        0.0        0.0    27
2612  2020.0               Finland    0.0        0.0        0.0    28
2613  2020.0              Cambodia    0.0        0.0        0.0    29
2614  2020.0                Cyprus    0.0        0.0        0.0    30
2615  2020.0               Denmark    0.0        0.0        0.0    31
2616  2020.0               Estonia    0.0        0.0        0.0    32
2617  2020.0                  Fiji    0.0        0.0        0.0    33
2618  2020.0               Ireland    0.0        0.0        0.0    34
2619  2020.0                Latvia    0.0        0.0        0.0    35
2620  2020.0                 Malta    0.0        0.0        0.0    36
2621  2020.0                Mexico    0.0        0.0        0.0    37
2622  2020.0               Morocco    0.0        0.0        0.0    38
2623  2020.0                  Peru    0.0        0.0        0.0    39
2624  2020.0              Portugal    0.0        0.0        0.0    40
2625  2020.0              Slovenia    0.0        0.0        0.0    41
2626  2020.0          South Africa    0.0        0.0        0.0    42

In [10]:
df = pd.read_csv("web/data/covid-data.csv")
df["date"] = pd.to_datetime(df["date"])
df = df[["date", "location", "total_cases", "new_cases"]]
df["lastValue"] = df["total_cases"] - df["new_cases"]
df = df.rename(columns={"total_cases" : "value", "location" : "name"})
df = df.fillna(0)
df = df.sort_values(["date", "value"], ascending=[True, False])
df = df.groupby(["name", pd.Grouper(key='date', freq="W-MON")]).sum("value").reset_index()
df["lastValue"] = df["value"].shift().fillna(0)
df = df.drop("new_cases", axis=1)
df = df.rename(columns={"date":"year"})
df["rank"] = 0
df = df[["name", "value", "year", "lastValue", "rank"]]#.to_csv("covid_1.csv")
df["year"] = df["year"].dt.year + df["year"].dt.week/52
df["year"] = df["year"].round(1)
df = df.groupby(["name", "year"]).max().reset_index()
df["lastValue"] = df["value"].shift().fillna(0)
cont = ["Europe", "Asia", "North America", "Africa", "Oceania", "World", "South America", "European Union"]
df = df[~df["name"].isin(cont)]
df["rank"] = df.groupby("year").rank(method="max", ascending=False)["value"].astype(int)

<ipython-input-10-acba7a4e34d8>:14: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  df["year"] = df["year"].dt.year + df["year"].dt.week/52

In [42]:
df

             name    year     value  lastValue  rank
0     Afghanistan  2020.2     203.0        0.0   101
1     Afghanistan  2020.3    9537.0      203.0    75
2     Afghanistan  2020.4   96483.0     9537.0    45
3     Afghanistan  2020.5  226442.0    96483.0    44
4     Afghanistan  2020.6  258809.0   226442.0    54
...           ...     ...       ...        ...   ...
2684     Zimbabwe  2021.0  137606.0    67837.0   111
2685     Zimbabwe  2021.1  245052.0   137606.0   106
2686     Zimbabwe  2021.2  257528.0   245052.0   112
2687     Zimbabwe  2021.3  267681.0   257528.0   113
2688     Zimbabwe  2021.4  272135.0   267681.0   116

[2579 rows x 5 columns]

In [13]:
df[df["name"] == 'France']

       name    year       value   lastValue  rank
873  France  2020.1        57.0    645178.0    15
874  France  2020.2     91911.0        57.0     7
875  France  2020.3   1122956.0     91911.0     4
876  France  2020.4   1320257.0   1122956.0     7
877  France  2020.5   1442613.0   1320257.0    13
878  France  2020.6   1654264.0   1442613.0    18
879  France  2020.7   2823286.0   1654264.0    12
880  France  2020.8   7588473.0   2823286.0     5
881  France  2020.9  15732193.0   7588473.0     4
882  France  2021.0  19601090.0  15732193.0     6
883  France  2021.1  24377945.0  19601090.0     6
884  France  2021.2  31614439.0  24377945.0     4
885  France  2021.3  39687814.0  31614439.0     4
886  France  2021.4  41362455.0  39687814.0     4

In [8]:
df.to_csv("web/data/covid_1.csv")

In [5]:
#df.groupby(["name", pd.Grouper(key='date', freq='W-MON')]).sum("value")

dates = df["date"].unique()
df["rank"] = 0
for day in dates:
    for i in range(len(df[df["date"] == day])):
        df[df["date"] == day].iloc[i]["rank"] = i+1

In [6]:
df_a

        name     value    year  lastValue  rank
0      Apple  214480.0  2018.0   211447.4     1
1      Apple  211447.4  2017.9   208414.8     1
2      Apple  208414.8  2017.8   205382.2     1
3      Apple  205382.2  2017.7   202349.6     1
4      Apple  202349.6  2017.6   199317.0     1
...      ...       ...     ...        ...   ...
18095   Zara       NaN  2004.5        NaN   100
18096   Zara       NaN  2004.6        NaN   100
18097   Zara       NaN  2004.7        NaN   100
18098   Zara       NaN  2004.8        NaN   100
18099   Zara       NaN  2004.9        NaN   100

[18100 rows x 5 columns]

In [7]:
df

             name    year     value  lastValue  rank
0     Afghanistan  2020.2     203.0        0.0   101
1     Afghanistan  2020.3    9537.0      203.0    75
2     Afghanistan  2020.4   96483.0     9537.0    45
3     Afghanistan  2020.5  226442.0    96483.0    44
4     Afghanistan  2020.6  258809.0   226442.0    54
...           ...     ...       ...        ...   ...
2684     Zimbabwe  2021.0  137606.0    67837.0   111
2685     Zimbabwe  2021.1  245052.0   137606.0   106
2686     Zimbabwe  2021.2  257528.0   245052.0   112
2687     Zimbabwe  2021.3  267681.0   257528.0   113
2688     Zimbabwe  2021.4  272135.0   267681.0   116

[2579 rows x 5 columns]